# USB devices (usbfs replacement) for current udev versions
SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device",ATTR{idVendor}=="04d8" , ATTR{idProduct}=="0033", MODE="0666"
